.cite__popupBtn {
  background-image: url(./assets/cite-icon.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  display: inline-block;
  vertical-align: middle;
  background-clip: content-box;
  border: none !important;
}
.toastui-editor-dark .cite__popupBtn {
  background-image: url(./assets/cite-icon-dark.png) !important;
}
.toastui-editor-dark .cite__popupBtn:hover {
  background-color: #2b3447 !important;
  outline: 1px solid #cccccc2a !important;
}
