.cite__popupBtn {
  background-image: url(./assets/cite-icon.png) !important;
}
.toastui-editor-dark .cite__popupBtn {
  background-image: url(./assets/cite-icon-dark.png) !important;
}

.toastui-editor p{ 
  line-height: 1.625 !important
  
}